---
import MainLayout from "../layouts/MainLayout.astro"
import { Image } from "astro:assets";

// <head>
  const pageTitle = "Cranimals";


// Header
import headerImage from '../images/cranimals/Cranimals-header@2x.webp';

// const {
//   title = "headerImage",
//   description = "Cranimals Zen Dogfood",
//   image="../images/cranimals/Cranimals-header@2x.webp"
// } = Astro.props;d

// Section 01
import section0101 from '../images/cranimals/cranimals-sketch-01.webp';
import section0102 from '../images/cranimals/cranimals-sketch-02.webp';
import section0103 from '../images/cranimals/cranimals-sketch-03.webp';
import section0104 from '../images/cranimals/cranimals-sketch-04.webp';


import '../styles/portfolio.css';
import '../styles/queries-port.css';




---
<!-- <MainLayout title={title}></MainLayout> -->
<MainLayout pageTitle={pageTitle}><!-- START OF CONTENT -->

  <!-- Opener -->
  <main class="portfolio-wrapper">
      <section class="port-grid opener-grid section-margin">
        <div class="opener-title">
          <h1 class="port-title">
            {pageTitle}: <span>Designing Charlie</span>
          </h1>
      
          <Image
            class="opener-splash"
            loading="eager"
            quality="high"
            alt="Cranimals Zen Dogfood"
            src={headerImage}
          />
        </div>
        <div class="opener-primary-textblock">
          <h2 class="port-sub-title">The Client</h2>
          <p class="port-body-text --section-break">
            Cranimals is an American dogfood distributor that specializes in
            healthy, vegan dog treats.
          </p>
          <h2 class="port-sub-title">The Challenge</h2>
          <p id="cranJSText" class="port-body-text --section-break">
            I was contacted by Cranimals to come up with a new character,
            codename “Charlie” and package design for new line of “Zendog” dog
            treats.
          </p>
        </div>
        <div class="opener-secondary-textblock">
          <h3 class="port-sidebar-title">My Role</h3>
          <ul class="port-sidebar-list">
            <li>Character Design</li>
            <li>Logo Design</li>
            <li>Package Design</li>
          </ul>
          <h3 class="port-sidebar-title">My Tools</h3>
          <ul class="port-sidebar-list">
            <li>Hand Drawing</li>
            <li>Adobe Illustrator</li>
            <li>Adobe Photoshop</li>
          </ul>
        </div>
      </section>

      <!-- Chapter 1 -->

    <section class="chapter section-margin">
      
        <h2 class="port-chapter-title">Chapter 1: <span>Initial Sketches</span></h2>
      
      <div class="bento-container ">
        <div class="bento-item item1"><Image src={section0102} alt=""></div>
        <div class="bento-item item2"><Image src={section0103} alt=""></Image></div>
        <div class="bento-item item3"><Image src={section0101} alt=""></Image></div>
        <div class="bento-item item4"><Image src={section0104} alt=""></Image></div>   </div>
        <div class="chapter-text-container">
          <h2 class="chapter-title">Chapter 1: Initial Sketches</h2>
        </div>   
        
    </section>
 
    
      </section>
  </main></MainLayout>