---
import MainLayout from "../layouts/MainLayout.astro";

import CaseStudyOpener from "../components/CaseStudyOpener.astro";

import CaseStudyBento4GoldenRatio from "../components/CaseStudyBento4GoldenRatio.astro";

import CaseStudyChapterText from "../components/CaseStudyChapterText.astro";

import { Image } from "astro:assets";

// <head>
const pageTitle = "Cranimals";

// OPENER

const portOpener = {
  title: "Cranimals",

  sub: "Designing Charlie",

  clientText:
    "Cranimals is an American dogfood distributor that specializes in healthy, vegan dog treats.",

  challengeText:
    "I was contacted by Cranimals to come up with a new character, codename “Charlie” and package design for new line of “Zendog” dog treats.",

  roles: ["Character Design", "Logo Design", "Package Design"],

  tools: ["Hand Drawing", "Adobe Photoshop", "Adobe Illustrator"],

  headerImage: headerImage,

  headerImageMobile: headerImageMobile,
};

// CHAPTER 01

// Bento
const chapter01Bento = {
  item1: section0101,
  item2: section0102,
  item3: section0103,
  item4: section0104,
  alt1: "Cranimals Sketch 01",
  alt2: "Cranimals Sketch 02",
  alt3: "Cranimals Sketch 03",
  alt4: "Cranimals Sketch 04",
};

// Text
const chapter01Text = {
  title: "Initial Sketches",
  number: "Chapter 1",
  body: [
    "We agreed on the concept of something that mixed cute doggy character packaging we often see in the aisles with something a little serene and worthy of the ZenDog title.",
  ],
};

// CHAPTER 02

// Bento

// Text
const chapter02Text = {
  title: "Finalizing Pencils",
  number: "Chapter 2",
  body: [
    "We decided on which parts of the sketches were what they wanted in their final character design and folded them together into a final sketch.",
  ],
};

// CHAPTER 03

// Bento

// Text
const chapter03Text = {
  title: "Coloring & Completing",
  number: "Chapter 3",
  body: [
    "Upon approval, I went to work on vectoring and coloring the art in Adobe Illustrator. It was a bit of a challenge coming up with colors, but I decided to use the big pumpkin Charlie was now sitting on as inspiration!",
    "I was able to play off the oranges not only to design Charlie (with browns that have tints of orange), but also to design the whole package.",
  ],
};

// CHAPTER 04

// Bento
const chapter04Bento = {
  item1: section0101,
  item2: section0102,
  alt1: "Cranimals Sketch 01",
  alt2: "Cranimals Sketch 02",
  alt3: "Cranimals Sketch 03",
};

// Text
const chapter04Text = {
  title: "Pack it in a Doggy Bag",
  number: "Chapter 4",
  body: [
    "Upon final approval, the packaging was set up and printed. The results were great, with Cranimals winning a Pet Product New Editor’s Choice Award, even cheekily adding that the ‘animated’ cover model Charlie was a big part of their success.",
    "This was a fun team to work with. It also allowed me to use my illustration along with my graphic design skills to come up with a fun concept that had great results. A win for everyone, especially vegan dogs!",
  ],
};

// IMAGES

// Opener
import headerImage from "../images/cranimals/Cranimals-header@2x.webp";
import headerImageMobile from "../images/cranimals/Cranimals-header-mobile@2x.png";

// Chapter 01
import section0101 from "../images/cranimals/cranimals-sketch-01.webp";
import section0102 from "../images/cranimals/cranimals-sketch-02.webp";
import section0103 from "../images/cranimals/cranimals-sketch-03.webp";
import section0104 from "../images/cranimals/cranimals-sketch-04.webp";

// Chapter 02
import section0201 from "../images/cranimals/cranimals-finalsketch-02.webp";

// Chapter 03
import section0301 from "../images/cranimals/cranimals-final.webp";

// Chapter 03
import section0401 from "../images/cranimals/craminals-packaging.webp";
import section0402 from "../images/cranimals/cranimals-display.webp";

// CSS Styles
import "../styles/portfolio.css";
import "../styles/queries-port.css";
---

<MainLayout pageTitle={pageTitle}>
  <!-- START OF CONTENT -->

  <!-----------
         OPENER 
        -------------->

  <main class="portfolio-wrapper">
    <CaseStudyOpener portOpener={portOpener} />

    <!-----------
         CHAPTER 1 
        -------------->
    <section>
      <div class="chapter-wrapper">
        <!-- Photos -->

        <CaseStudyBento4GoldenRatio bento4GoldenRatio={chapter01Bento} />

        <!-- Text -->

        <CaseStudyChapterText chapterText={chapter01Text} />
      </div>
    </section>

    <!-----------
         CHAPTER 2 
        -------------->

    <section>
      <div class="chapter-wrapper">
        <!-- Photos -->

        <Image
          src={section0201}
          class="single-bento --mid-section-margin"
          loading="eager"
          quality="medium"
          alt="Cranimal Final Pencil Sketch"
        />

        <!-- Text -->

        <CaseStudyChapterText chapterText={chapter02Text} />
      </div>
    </section>

    <!-----------
         CHAPTER 3 
        -------------->

    <section>
      <div class="chapter-wrapper">
        <!-- Photos -->

        <Image
          src={section0301}
          class="single-bento --mid-section-margin"
          loading="eager"
          quality="medium"
          alt="Cranimal Final Artwork"
        />

        <!-- Text -->

        <CaseStudyChapterText chapterText={chapter03Text} />
      </div>
    </section>

    <!-----------
         CHAPTER 4 
        -------------->

    <section>
      <div class="chapter-wrapper">
        <!-- Photos -->
        <div class="double-container --mid-section-margin">
          <div class="bento-item">
            <Image loading="eager" quality="medium" src={section0401} alt="" />

            <div class="bento-item">
              <Image
                loading="eager"
                quality="medium"
                src={section0402}
                alt=""
              />
            </div>

            <!-- Text -->

            <CaseStudyChapterText chapterText={chapter04Text} />
          </div>
        </div>
      </div>
    </section>
  </main></MainLayout
>
