---
import { Image } from "astro:assets";
const { portOpener } = Astro.props;
---

<section>
  <div class="port-grid opener-grid chapter-wrapper">
    <div class="opener-title">
      <h1 class="port-title">
        {portOpener.title}<br> <span>{portOpener.sub}</span>
      </h1>
<div class="opener-wrapper">
      <Image
        src={portOpener.headerImage}
        class="opener-splash"
        loading="eager"
        quality="high"
        alt={portOpener.desktopAlt}
        width="1920"
        height="777"
      />
      <Image
        src={portOpener.headerImageMobile}
        class="opener-splash-mobile"
        loading="eager"
        quality="high"
        alt={portOpener.mobileAlt}
        width="780"
        height="559"
      />
    </div>
    </div>
    <div class="opener-primary-textblock">
      <h2 class="port-sub-title">The Client</h2>
      <p class="port-body-text --mid-section-margin">
        {portOpener.clientText}
      </p>
      <h2 class="port-sub-title">The Challenge</h2>
      <p id="cranJSText" class="port-body-text --section-break">
        {portOpener.challengeText}
      </p>
    </div>

    <!-- Sidebar -->
    <div class="opener-secondary-textblock">
      <!-- My Roles -->
      <div class="my-sidebar-container">
        <h3 class="port-sidebar-title">My Role</h3>
        <ul class="port-sidebar-list">
          {portOpener.roles.map((role) => <li>{role}</li>)}
        </ul>
      </div>

      <!-- My Tools -->
      <div class="my-sidebar-container">
        <h3 class="port-sidebar-title">My Tools</h3>
        <ul class="port-sidebar-list">
          {portOpener.tools.map((tool) => <li>{tool}</li>)}
        </ul>
      </div>
    </div>
  </div>
</section>

